@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;600&display=swap');
@import "variables.css";

body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
}

.main__logo {
    width: 60%;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    opacity: 0.2;
    position: absolute;
    z-index: 20;
}

.light.uzcard {
    background: linear-gradient(#fff, var(--main-color), var(--light-blue), var(--main-blue)) no-repeat;
}
.light.uzum {
    background: linear-gradient(#fff, var(--main-color), var(--uzum-color)) no-repeat;
}
.light.ipakyoli {
    background: linear-gradient(#fff, var(--main-color), var(--ipak-color)) no-repeat;
}

.dark.uzcard {
    background: linear-gradient(#fff, var(--main-blue), var(--main-blue)) no-repeat;
}

.dark.uzum {
    background: linear-gradient(#fff, var(--uzum-color), var(--uzum-color)) no-repeat;
}
.dark.ipakyoli {
    background: linear-gradient(#fff, var(--ipak-color), var(--ipak-color)) no-repeat;
}

.pin-container {
    /*position: absolute;*/
    /*width: 90%;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

.pin .pin-keyboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.pin {
    /*display: flex;*/
    /*height: 100vh;*/
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
}

.new-pin {
    display: none;
}
.old-pin {
    display: block;
}
