.pin-inputs__input {
    background: transparent;
    position: relative;
    width: 60%;
    height: 60px;
    margin: 5px;
    font-size: 40px;
    padding-left: 5px;
    transition: .3s all;
    padding-bottom: 20px;
}

input {
    background: transparent;
    position: absolute;
    width: 35px;
    height: 100%;
    outline: none;
    border: none;
    color: var(--main-blue) !important;
    /*font-size: 18px;*/
    padding-left: 5px;
    transition: .3s all;
    padding-bottom: 20px !important;
    left: 50%;
    font-size: 50px;
    transform: translateX(-50%);
    top: 0;
}
.pin-inputs {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /*margin-bottom: 20%;*/
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    z-index: 1000;
    /*margin-bottom: 30px;*/
}

.pin-aa {
    max-width: 75%;
    padding: 0 100px;
    margin: 0 auto 20%;
}

.pin-placeholder {
    margin-top: 20px;
}

.pin-input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pin-inputs__input:nth-child(1):after {
    position: absolute;
    content: '';
    height: 3.5px;
    width: 100%;
    left: 0;
    bottom: -15px;
    background-image: linear-gradient(
            to left,
            var(--main-blue),
            rgba(0, 0, 0, 0)
    );
}

.pin-inputs__input:nth-child(2):after, .pin-inputs__input:nth-child(3):after {
    position: absolute;
    content: '';
    height: 3.5px;
    width: 100%;
    left: 0;
    bottom: -15px;
    background: var(--main-blue);
}

.pin-inputs__input:nth-child(4):after {
    position: absolute;
    content: '';
    height: 3.5px;
    width: 100%;
    left: 0;
    bottom: -15px;
    background-image: linear-gradient(
            to right,
            var(--main-blue),
            rgba(0, 0, 0, 0)
    );
}

.confirm-pin-inputs.error input {
    color:  var(--error-color)!important;
}

.confirm-pin-inputs.error .pin-inputs__input:nth-child(1):after {
    background-image: linear-gradient(
            to left,
            var(--error-color),
            rgba(0, 0, 0, 0)
    );
}

.confirm-pin-inputs.error .pin-inputs__input:nth-child(2):after, .confirm-pin-inputs.error .pin-inputs__input:nth-child(3):after {
    background: var(--error-color);
}

.confirm-pin-inputs.error .pin-inputs__input:nth-child(4):after {
    background-image: linear-gradient(
            to right,
            var(--error-color),
            rgba(0, 0, 0, 0)
    );
}

.confirm-pin-placeholder.error {
    color: var(--error-color);
}
